<div class="container-fluid">
  <div class="row">
    <div class="col full d-none d-md-block">
      <div class="left-box">
        <img class="img-fluid" src="assets/img/logo/blinker-logo-32.png" alt="blinker">
        <div padding>
          <h4>欢迎使用点灯物联网</h4>
          <div>blinker是一套跨硬件、跨平台的物联网解决方案，提供APP端、设备端、服务器端支持，使用公有云服务进行数据传输存储。可用于智能家居、数据监测等领域，可以帮助用户更好更快地搭建物联网项目
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="right-box">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>