<div class="header-box">
  <div class="title faster" [ngClass]="{'animated fadeIn': action=='show'}">{{title}}</div>
  <div class="user-box">
    <img src="assets/img/test/avatar.jpg" alt="avatar">
    <div class="user-card">
      <ng-container *ngFor="let item of userMenuList">
        <a class="item" *ngIf="item.page" [routerLink]="[ item.page ]">
          {{item.title}}
        </a>
        <a class="item" *ngIf="item.action" (click)="toDo(item.action)">
          {{item.title}}
        </a>
      </ng-container>
    </div>
  </div>
</div>