.search-box {
    height: 100%;
    background-color: #2E3439;
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;

    i {
        padding: 0 10px;
    }

    input {
        background-color: transparent;
        border: none;
        outline: medium;
        color: #fff;
    }

    .cancel {
        position: absolute;
        right: 0;
        font-size: 18px;
        color: #CCCCCC;
    }

    .cancel:hover {
        color: #fff;
    }
}