<!-- <div class="container-fluid">
	<div class="row h100">
		<div class="col-md-12">
			<grid-box [title]="'Data List'">
				<search-box (keywordChanged)="keywordChanged($event)"></search-box>
				<button class="button"><i class="fas fa-user-friends"></i><span>按键3</span></button>
				<div style="padding: 20px"> -->
<!-- <markdown [src]="'docs/000-首页.md'"></markdown> -->
<!-- </div>
			</grid-box>
		</div>
	</div>
</div> -->

<!-- <markdown [src]="'docs/000-首页.md'"></markdown> -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<markdown [src]="'docs/000-首页.md'"></markdown>
		</div>
	</div>
</div>